<div ng-include="'pages/navbar/navbar.html'"></div>
<div class="container">
    <div class="form-group">
        <h3>Alimentos</h3>
        <div class="dropdown-divider"></div>
    </div>    
    <div class="accordion" id="accordionCategoria">
        <div class="card" ng-repeat="categoria in vm.categorias track by categoria.ID_CATEGORIA ">
            <div class="card-header" id="heading{{categoria.ID_CATEGORIA}}">
                <h5 class="mb-0">
                    <button ng-click="vm.loadAlimentos(categoria.ID_CATEGORIA)" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{categoria.ID_CATEGORIA}}" aria-expanded="true" aria-controls="collapse{{categoria.ID_CATEGORIA}}">
                        {{categoria.DESCRICAO_CATEGORIA}}
                    </button>
                </h5>
            </div>  
            <div id="collapse{{categoria.ID_CATEGORIA}}" class="collapse" aria-labelledby="heading{{categoria.ID_CATEGORIA}}" data-parent="#accordionCategoria">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" ng-model="pesquisa" placeholder="Qual alimento você está pesquisando?" class="form-control">
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Descrição</th>                                
                                    <th scope="col">Proteína</th>
                                    <th scope="col">Carboidrato</th>
                                    <th scope="col">Gordura</th>                            
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="alimento in vm.alimentos | filter:pesquisa track by alimento.ID_ALIMENTO">
                                    <td>{{alimento.DESCRICAO}}</td>                            
                                    <td>{{alimento.PROTEINA}}g</td>
                                    <td>{{alimento.CARBOIDRATO}}g</td>
                                    <td>{{alimento.LIPIDEOS}}g</td>                            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'pages/footer/footer.html'"></div>
<script>
    $(function () {
        $('.collapse').collapse();
    }); 
</script>