<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Alimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <input type="text" ng-model="pesquisa" placeholder="Digite o nome ou marca do alimento que você está procurando aqui" class="form-control">
                <table ng-show="pesquisa" class="table">
                    <thead>
                        <tr>
                            <th>Alimento</th>
                            <th>Quantidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="alimento in vm.alimentos | filter:pesquisa track by alimento.ID_ALIMENTO">
                            <td>{{alimento.DESCRICAO}}</td>
                            <td style="width: 100px"><input type="number" ng-model="quantidade" class="form-control "></td>                        
                            <td><button class="btn btn-success btn-sm" ng-click="vm.saveRefeicaoAlimento(alimento, quantidade)" role="button">Adicionar</button></td>
                        </tr>
                    </tbody>
                </table>            
            </div>
        </div>
    </div>
</div>