/* 
Created on : 26/05/2017, 22:15
Author     : Marcelo Zilio Correa
*/
.container {
    margin-top: 1%;
}

.navbar {
    font-weight: 500;
    background-color: #42A5F5;
    color:#f8f9fa;
}

.nav-item {
    color: #f8f9fa;
}

a.nav-link {
    color:#f8f9fa;
}

.panel-login {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.panel-login h3 {
    text-align: left;
}

.linha-tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.linha {
    border-color: #343a40;
    border-left: 2px solid;
    box-sizing: border-box;
    height: 200px;
}
